$gray: #888;
$darkRed: #800;
$lightGray: #ddd;
$hoverGray: #aaa;
$darkGray: #444;
$black: #404040;
$white: #fff;
$yellow: #ff0;
$mainColor: #26a69a;

.spa-chat {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30em;
	background: #fff;
	border-radius: 0.5em 0 0 0;
	border-style: solid;
	border-width: thin 0 0 thin;
	border-color: $gray;
	box-shadow: 0 0 0.75em 0 $gray;
	z-index: 1;
}

.spa-chat-head,
.spa-chat-closer {
	position: absolute;

	top: 0;
	height: 2em;
	line-height: 1.8em;
	border-bottom: thin solid $mainColor;
	cursor: pointer;
	background: $mainColor;
	color: white;
	font-family: arial, helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
}

.spa-chat-head {
	left: 0;
	right: 2em;
	border-radius: 0.3em 0 0 0;
}

.spa-chat-closer {
	right: 0;
	width: 2em;
	&:hover {
		background: $darkRed;
	}
}

.spa-chat-head-toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	bottom: 0;
	border-radius: 0.3em 0 0 0;
}

.spa-chat-head-title {
	position: absolute;
	left: 50%;
	width: 16em;
	margin-left: -8em;
}

.spa-chat-sizer {
	position: absolute;
	top: 2em;
	left: 0;
	right: 0;
}

.spa-chat-list {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10em;
}

.spa-chat-msg {
	position: absolute;
	top: 0;
	left: 10em;
	right: 0;
	bottom: 0;
}

.spa-chat-msg-log {
	left: 0em;
	right: 1em;
	bottom: 4em;
	padding: 0.5em;
	border: thin solid $gray;
	overflow-y: scroll;
	height: 11em;
	margin: 1.2em 1em 0.6em 0;
}

.spa-chat-msg-log-me {
	font-weight: 800;
	color: #484;
}

.spa-chat-msg-log-alert {
	font-style: italic;
	background: #a88;
	color: #fff;
}

.spa-chat-list-box {
	left: 1em;
	right: 1em;
	bottom: 1em;
	height: 14em;

	overflow-y: auto;
	border-width: thin 0 thin thin;
	border-style: solid;
	border-color: $mainColor;
	background-color: $mainColor;
	color: $lightGray;
	border-radius: 0.5em 0 0 0;
	margin: 1.2em;
}

.spa-chat-list-name {
	cursor: pointer;
	padding: 0.5em;

	&:hover, &.spa-x-select {
		background-color: white;
		color: #444;
	};
}

.spa-chat-msg-in input[type=text] {
	position: absolute;
	width: 75%;
	height: 2.3em;
	line-height: 100%;
	padding: 0 0.5em;
	border: 0;
	background-color: $lightGray;
	color: #666;

	&:focus {
		background-color: #ff8;
		color: #222;
	}
}

.spa-chat-msg-send {
	position: absolute;
	right: 0;
	width: 25%;
	height: 2.1em;
	line-height: 2.1em;
	text-align: center;
	color: white;
	background-color: $mainColor;
	font-weight: 800;
	cursor: pointer;
}
.spa-chat-msg-send:hover,
.spa-chat-msg-send.spa-x-select {
	background-color: $mainColor;
	color: #ff0;
}
