$mainColor: #26a69a;
$gray: #eee;

.spa-shell-head,
.spa-shell-head-logo,
.spa-shell-head-acct,
.spa-shell-head-search,
.spa-shell-main,
.spa-shell-main-nav,
.spa-shell-main-content,
.spa-shell-foot,
.spa-shell-modal {
    position: absolute;
}
.spa-shell-head {
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    padding: 0 10%;
    color: white;
    background-color: $mainColor;
}
.spa-shell-head-logo {
    top: 4px;
    left: 10%;
    height: 32px;
    width: 30em;

    & p {
        font-size: 20px;
    }
}
.spa-shell-head-acct {
    top: 1.6em;
    right: 10%;
    width: 160px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: $mainColor;
    font-weight: 800;
    background: white;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background-color: $gray;
        box-shadow: 2px 2px 2px $gray;
    }
}
.spa-shell-head-search {
    top: 4px;
    right: 64px;
    // width: 248px;
    height: 32px;
    color: red;
    font-size: 32px;
}
.spa-shell-main {
    top: 6em;
    left: 0;
    bottom: 40px;
    right: 0;
}
.spa-shell-main-content,
.spa-shell-main-nav {
    top: 0;
    bottom: 0;
}
.spa-shell-main-nav {
    width: 250px;
    background: white;
}
.spa-x-closed .spa-shell-main-nav {
    width: 0;
}
.spa-shell-main-content {
    left: 250px;
    right: 0;
    background: white;
}
.spa-x-closed .spa-shell-main-content {
    left: 0;
}
.spa-shell-foot {
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}
.spa-shell-modal {
    display: none;
    /*margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 3px;
    z-index: 2;*/
}